:root
{
    --bold-primary-color: #690500;
    --bold-secondary-color: #ff450e;
    --bold-tertiary-color: #ff7500;

    --primary-color: #d3d7cf;
    --secondary-color: #3e3734;
    --tertiary-color: #19181b;
}

*
{
    border-color: var(--bold-secondary-color);
    border-radius: 0;
}

window
{
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}

/*headerbar
{
    padding: 0;

    background-color: var(--bold-primary-color);
}
headerbar label
{
    color: var(--bold-primary-color);
}

paned
{
    background: linear-gradient(var(--secondary-color), var(--tertiary-color));
    border-radius: 0;
}
paned > separator
{
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    min-width: 0;
    min-height: 0;
    width: 0;
    height: 0;
    outline: none;
    box-shadow: none;
}
paned > separator > handle
{
    background-color: var(--bold-primary-color);
    border-color: var(--bold-primary-color);
    border-radius: 0;
}

label
{
    color: var(--primary-color);
} */

headerbar
{
    padding: 0;
    
    background: transparent;
    color: var(--primary-color);
}
windowhandle
{
    background-color: var(--bold-primary-color);
}

headerbar button
{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
headerbar button:hover
{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* button
{
    background-color: var(--bold-secondary-color);
    color: #eeeeec;
    padding: 8px 12px;
} */

/*button:hover
{
    background-color: var(--bold-tertiary-color);
}

button
{
    background: var(--bold-secondary-color);
}

.activatable
{
    background-color: var(--tertiary-color);
}
.activatable:selected
{
    background-color: var(--bold-tertiary-color);
} */