:root
{
    --bold-primary-color: #690500;
    --bold-secondary-color: #ff450e;
    --bold-tertiary-color: #ff7500;

    --primary-color: #d3d7cf;
    --secondary-color: #3e3734;
    --tertiary-color: #19181b;
}

/* Defaults */
*
{
    border-color: var(--bold-secondary-color);
    border-radius: 0;
}

window
{
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}

/* Window HeaderBar */
headerbar
{
    padding: 0;
    
    background: transparent;
    color: var(--primary-color);
}
windowhandle
{
    background-color: var(--bold-primary-color);
}
headerbar button
{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
headerbar button:hover
{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* SearchEntry */
.search
{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* Inspector */
.inspector-list
{
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}
.component-entry
{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* Drag Fields */
.drag-scalar
{
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}

/* Dropdowns */
.toggle
{
	padding: 0;

	color: var(--primary-color);
}
.toggle *
{
	background-color: var(--tertiary-color);
}

/* Searchbar Popup Menu */
popover
{
	background-color: var(--tertiary-color);
}
popover > contents
{
	background-color: var(--tertiary-color);
}
popover list
{
    background-color: var(--tertiary-color);
}
popover .activatable
{
	background-color: var(--secondary-color);
    color: var(--primary-color);
}
popover .activatable:hover
{
	background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* Non-HeaderBar Buttons */
paned button
{
    padding: 0;
}
paned button > label
{
    background-color: var(--bold-secondary-color);
    color: var(--primary-color);
}
paned button:hover > label
{
    background-color: var(--bold-tertiary-color);
    color: var(--primary-color);
}

/* Entity List (Hierarchy) */
.entity-list > .activatable
{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.entity-list > .activatable:hover
{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.entity-list > .activatable:selected
{
    background-color: var(--bold-tertiary-color);
    color: var(--secondary-color);
}